table, th, td {
    border-collapse: collapse;
    padding: 5px;
}
table {
    border-bottom: solid 1px black;
    font-size: 12px;
}


tr.head {
    border-bottom: solid 1px black;
}

tr:nth-of-type(even) {
    background: #ccc;
}

th, td {
    padding-left: 15px;
    padding-right: 15px;
}