awscli
beautifulsoup4>=4.6.0
boto3>=1.7.11
botocore>=1.10.11
bs4>=0.0.1
certifi>=2018.1.18
cfn-flip>=1.0.3
click>=6.6
configparser>=3.5.0
cryptography>=2.3
docutils>=0.14
idna>=2.5
Jinja2>=2.10.1
jmespath>=0.9.3
MarkupSafe>=1.0
MechanicalSoup>=0.10.0
packaging>=16.8
PyYAML>=4.2b1
requests>=2.20.0
six>=1.11.0
urllib3>=1.23
lxml>=4.2.4
